pipeline/Execute Process Steps.json
{
	"name": "Execute Process Steps",
	"properties": {
		"activities": [
			{
				"name": "GetProcessType",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getExecutionProcessSteps]",
						"storedProcedureParameters": {
							"jobid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.jobid",
									"type": "Expression"
								}
							},
							"runPriority": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.runpriority",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzSQL_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetProcessType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetProcessType').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().processType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Ingestion",
										"activities": [
											{
												"name": "Execute Ingestion Process",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Ingestion Process",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"jobid": {
															"value": "@item().jobId",
															"type": "Expression"
														},
														"ProcessStepId": {
															"value": "@item().ProcessStepId",
															"type": "Expression"
														},
														"MasterPipelineId": {
															"value": "@pipeline().parameters.MasterPipelineRunId",
															"type": "Expression"
														},
														"restoId": {
															"value": "@pipeline().parameters.restoId",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "SPExecution",
										"activities": [
											{
												"name": "SPExecution Process",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "SPExecution Process",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"jobid": {
															"value": "@item().jobId",
															"type": "Expression"
														},
														"ProcessStepId": {
															"value": "@item().ProcessStepId",
															"type": "Expression"
														},
														"MasterPipelineId": {
															"value": "@pipeline().parameters.MasterPipelineRunId",
															"type": "Expression"
														},
														"restoId": {
															"value": "@pipeline().parameters.restoId",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Publish",
										"activities": [
											{
												"name": "Publish Process",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Publish Process",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"jobid": {
															"value": "@item().jobId",
															"type": "Expression"
														},
														"ProcessStepId": {
															"value": "@item().ProcessStepId",
															"type": "Expression"
														},
														"MasterPipelineId": {
															"value": "@pipeline().parameters.MasterPipelineRunId",
															"type": "Expression"
														},
														"restoId": {
															"value": "@pipeline().parameters.restoId",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"jobid": {
				"type": "int"
			},
			"runpriority": {
				"type": "int"
			},
			"MasterPipelineRunId": {
				"type": "string"
			},
			"restoId": {
				"type": "int"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-23T10:42:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}