pipeline/Publish Process.json
{
	"name": "Publish Process",
	"properties": {
		"activities": [
			{
				"name": "Publish",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM metadata.vw_PublishProcess WHERE isActive=1 AND jobId=@{pipeline().parameters.jobid} AND processStepId=@{pipeline().parameters.ProcessStepId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzSQL_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Publish').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_AzSQL_Staging",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().srcserverName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().srcdatabaseName",
											"type": "Expression"
										},
										"UserName": {
											"value": "@item().srcdbUserName",
											"type": "Expression"
										},
										"PasswordSecret": {
											"value": "@item().srcdbUserKVPasswordSecret",
											"type": "Expression"
										},
										"TableSchema": {
											"value": "@item().srcTableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().srcTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzSQL_Staging",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().tgtserverName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().tgtdatabaseName",
											"type": "Expression"
										},
										"UserName": {
											"value": "@item().tgtdbUserName",
											"type": "Expression"
										},
										"PasswordSecret": {
											"value": "@item().tgtdbUserKVPasswordSecret",
											"type": "Expression"
										},
										"TableSchema": {
											"value": "@item().tgtTableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tgtTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"jobid": {
				"type": "int"
			},
			"ProcessStepId": {
				"type": "int"
			},
			"MasterPipelineId": {
				"type": "string"
			},
			"restoId": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-23T10:42:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}