pipeline/SPExecution Process.json
{
	"name": "SPExecution Process",
	"properties": {
		"activities": [
			{
				"name": "SPExecution",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM metadata.vw_SPExecutionProcess WHERE isActive=1 AND jobId=@{pipeline().parameters.jobid}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzSQL_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SPExecution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SPExecution').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().storedProcName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"RestoId": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZ_SQL",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": {
										"value": "@item().tgtserverName",
										"type": "Expression"
									},
									"DatabaseName": {
										"value": "@item().tgtdatabaseName",
										"type": "Expression"
									},
									"UserName": {
										"value": "@item().tgtdbUserName",
										"type": "Expression"
									},
									"PasswordSecret": {
										"value": "@item().tgtdbUserKVPasswordSecret",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"jobid": {
				"type": "int"
			},
			"ProcessStepId": {
				"type": "int"
			},
			"MasterPipelineId": {
				"type": "string"
			},
			"restoId": {
				"type": "string"
			}
		},
		"annotations": []
	}
}